.buttonContainer {
  display: flex;
  padding: 10px 14px;
  justify-content: center;
  font-size: small;
  align-items: center;
  border-radius: 10px;
  position: absolute;
  right: 20px;
  margin-bottom: 10px;
}

@media (max-width: 450px) {
  .buttonContainer {
      display: none;
  }
}